@import "tailwindcss";

body {
  font-family: var(--font-geist-inter);
  background: #020202;
}

.my-manrope-text {
  font-family: var(--font-geist-manrope);
}

html {
  scroll-behavior: smooth;
}

/* Animation Skill */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-33.33%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left linear infinite;
}

.animate-scroll-right {
  animation: scroll-right linear infinite;
}
